body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.barchart {

}
.container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bar {
  fill: rgb(0,104,71);
  transition: all 0.5s ease;
}
.bar:hover {
  fill: rgb(160, 203, 60);
  transition: all 0.5s ease;
}
