body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.bubble {
  opacity: 1;
  transition: opacity 0.2s linear;
}
.bubble:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}
.container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bar {
  fill: rgb(0,104,71);
  transition: all 0.5s ease;
}
.bar:hover {
  fill: rgb(160, 203, 60);
  transition: all 0.5s ease;
}
.tooltip, .tooltip-bub {
  position: absolute;
  max-width: 300px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);

  &__text {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
  &__text--label {
    font-weight: bold;
  }
}
.hidden {
  visibility: hidden;;
}
.hidden-block {
  display: none;
}
